<!DOCTYPE html>
<html lang="pt-BR">

<%- include('includes/head', {title: '404' }) %>
<%- include('includes/head', { linkCss: '../../../public/css/style.css' }) %>
<%- include('includes/head', { linkCssHeader: '../../../public/css/cabecalho.css' }) %>
<%- include('includes/head', { linkCss: '../../../public/css/style.css' }) %>



	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400&family=Lato:wght@400;700;900&display=swap"
			rel="stylesheet"
		/>

		<link rel="stylesheet" href="./style.css" />
		<link href="../../assets/css/cabecalho.css" rel="stylesheet" />
		<link href="../../assets/css/footer.css" rel="stylesheet" />
		<link href="../../assets/css/busca.css" rel="stylesheet" />
		<link href="../../assets/css/reset.css" rel="stylesheet" />

		<title>404</title>
	</head>
	<body>
		<header class="cabecalho">
			<nav class="menu">
				<a class="menu__link" href="../homeStore/homeStore.html"
					><img
						class="logo"
						alt="Logo Goró"
						src="../../assets/img/logo goro 1.png"
					/>
				</a>
				<ul class="menu__lista">
					<li id="menuOne" class="menu__item">
						<a
							onmouseover="mouseOverMenu()"
							onmouseout="mouseOutMenu()"
							class="menu__linka"
							href="../lists/listBeers/listBeer.html"
							>CERVEJAS</a
						>
					</li>
					<li id="menuTwo" class="menu__item">
						<a
							onmouseover="mouseOverMenuTwo()"
							onmouseout="mouseOutMenuTwo()"
							class="menu__linka"
							href="../lists/listAcessories/index.html"
							>ACESSÓRIOS</a
						>
					</li>
					<li id="menuThree" class="menu__item">
						<a
							onmouseover="mouseOverMenuThree()"
							onmouseout="mouseOutMenuThree()"
							class="menu__linka"
							href="../lists/listKits/index.html"
							>KITS</a
						>
					</li>
				</ul>
			</nav>

			<nav class="redes">
				<ul class="menu__lista">
					<li id="menuFour" class="menu__item">
						<a
							onmouseover="mouseOverMenuFour()"
							onmouseout="mouseOutMenuFour()"
							class="menu__link"
							href="../login/Login.html"
							><img
								class="redes__logo"
								alt="Login"
								src="../../assets/img/login.svg"
							/>
							LOGIN
						</a>
					</li>
					<li id="menuFive" class="menu__item">
						<a
							onmouseover="mouseOverMenuFive()"
							onmouseout="mouseOutMenuFive()"
							class="menu__link"
							href="../shoppingCart/shoppingCart.html"
							><img
								class="redes__logo"
								alt="Carrinho"
								src="../../assets/img/carrinho.svg"
							/>
							CARRINHO
						</a>
					</li>
				</ul>

				<div class="menu-bar">
					<span class="bar"></span>
					<span class="bar"></span>
					<span class="bar"></span>
				</div>
			</nav>
		</header>

		<section class="pesquisa">
			<div class="pesquisa__container">
				<input
					class="pesquisa__input"
					type="search"
					placeholder="Buscar no site"
				/>
			</div>
		</section>

		<main>
			<div class="banner_completo">
				<div class="conteudo">
					<img src="./imgError/bannerLogo.png" alt="banner" />
				</div>

				<div class="conteudo_banner">
					<p class="conteudo01">
						<strong
							>Não achamos o <br />
							que você procura!</strong
						>
					</p>

					<p class="conteudo02">
						Suspende o álcool ...e tente reescrever a <br />
						palavra ou tente um outro termo parecido!
					</p>
				</div>
			</div>
		</main>

		<hr class="amarelo" />
		<hr class="vermelho" />
		<hr class="preto" />

		<footer>
			<div class="footer__container">
				<div class="footer__logo">
					<img
						class="logo"
						alt="Logo Goró"
						src="../../assets/img/logo goro 1.png"
					/>
				</div>

				<div class="footer__inst">
					<ul>
						<h5>INSTITUCIONAL</h5>
						<li>
							<a href="../../index.html"> Home </a>
						</li>
						<li>
							<a href="../../index.html#info--menu">
								Portfólio
							</a>
						</li>
						<li>
							<a href="#"> Contato </a>
						</li>
						<li>
							<a href="../../index.html#about"> Sobre nós </a>
						</li>
						<li>
							<a href="./homeStore.html"> loja </a>
						</li>
					</ul>
				</div>

				<div class="footer__legal">
					<ul>
						<h5>LEGAL</h5>
						<li>
							<a href="#"> Termos de uso </a>
						</li>
						<li>
							<a href="#"> Política de privacidade </a>
						</li>
					</ul>

					<div class="footer__redes">
						<h5>REDES SOCIAIS</h5>
						<ul class="footer__lista">
							<li class="footer__item">
								<a class="footer__link" href="#"
									><img
										class="redes__logo"
										alt="Instagram"
										src="../../assets/img/Instagram.png"
								/></a>
							</li>
							<li class="footer__item">
								<a class="footer__link" href="#"
									><img
										class="redes__logo"
										alt="YouTube"
										src="../../assets/img/YouTube.png"
								/></a>
							</li>
							<li class="footer__item">
								<a class="footer__link" href="#"
									><img
										class="redes__logo"
										alt="Facebook"
										src="../../assets/img/Facebook.png"
								/></a>
							</li>
						</ul>
					</div>
				</div>

				<div class="footer__busca">
					<p>
						Inscreva-se na nossa Newsletter e receba as nossas
						novidades em primeira mão.
					</p>
					<div class="busca__input">
						<input type="text" placeholder="SEU E-MAIL" />
						<button>INSCREVER-SE</button>
					</div>
				</div>
			</div>

			<p>
				© 2022 CERVEJARIA GORÓ LTDA. 00.000.000/0001-00 | Rua dos Bobos,
				0 - Cidade, ES
			</p>
		</footer>
		<script src="./404.js"></script>
	</body>
</html>
