<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style--checkout.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link href="https: //fonts.googleapis.com/css2?family= Lato: família= Inter:wght@400;700;900 &wght @400;700;900 & display=swap" rel="stylesheet">
       
    <title>Goró - Checkout</title>
</head>
<body>
<%- include("includes/header") %>

      <main>        
            <div class="pagamento">
              <img class="img--carteira" src="/img/carteira.svg" alt="carteira--pagamento">
              <p>PAGAMENTO</p>
            </div>
          
            <hr class="linha--pagamento">
          
            <div class="corpo">
                <div class="caixa--1">
                <div class="titulo--endereco">
                  <p>ENDEREÇO DA ENTREGA</p>
                </div>
              
                <div class="container--dados">
                  <div class="dados--cliente">
                    <p class="nome--cpf">Paula Silva <br>000.000.000-00</p>
                    <br>
                    <p class="endereco">Rua dos Bobos, Nº 000 <br> Bairro Travessa 1 <br>Cidade-ES <br>CEP 00000-000</p>
                    <button class="dados--cadastrais">EDITAR DADOS CADASTRAIS</button>
                  </div>
                </div>
              </div>


              <div>
              <div class="metodo--pagamento">
                <p>MÉTODO DE PAGAMENTO</p>
              </div>

              <div class="forma--pagamento">
                
                    <div class="titulo--metodo--pagamento">
                      <img class="img--cartao" src="/img/cartao.svg" alt="imagem cartão">
                      <h2 class="titulo--cartao">Cartão de crédito</h2>
                    </div>
      
                    <hr class="linha--metodo">
      
                    <form id="form" class="formulario" action="/" method="get">
                      <div class="div--form">
                        <label for="nome--cartao">Nome do cartão</label>
                        <input 
                        type="text" 
                        id="nome--cartao" 
                        name="nome--completo" 
                        placeholder="ex: Paula Silva">
                      </div>
      
                    <div class="div--form">
                      <label for="numero--cartao">Numero do cartão de crédito</label>
                      <input 
                      type="text" 
                      id="numero--cartao" 
                      name="numero--cartao--completo" 
                      placeholder="0000 000000 00000">
                    </div>
      
                    <div class="div--form">
                      <label for="validade--cartao">Validade do cartão</label>
                      <input type="text" 
                      id="validade--cartao" 
                      name="validade--card" 
                      placeholder="00/00">
                    </div>
      
                    <div class="div--form">
                      <label for="cod--cartao">Código de segurança</label>
                      <input 
                      type="text" 
                      id="cod--cartao" 
                      name="cod--seguranca"
                      placeholder="CVV">
                    </div>

                    <div class="botao">
                      <button 
                      type="submit" 
                      class="confirmar--cartao">CONFIRMAR CARTÃO</button>
                    </div>

                    </form>
                </div>
              </div>

            </div>
                
                <div class="finalizar--compra">
                
                  <div class="titulo--compra">
                    <p>VALOR FINAL DA COMPRA</p>
                  </div>
                  
                  
                    <div class="valor--final">
                      <div class="subtotal">
                      <p><strong>SUBTOTAL</strong> <br> (X produtos)</p>
                        <p>R$ 00,00</p>
                      </div>
                      <br>
                      <div class="frete">
                        <p><strong>FRETE</strong></p>
                        <p>R$ 00,00</p>  
                      </div>
                      <hr class="linha--compra">
      
                      <div class="total">
                        <p><strong>TOTAL</strong></p>
                        <p>R$ 00,00</p>
                      </div>
                      <div class="botao--compra">
                        <button class="confirmar--compra">CONFIRMAR A COMPRA</button>
                      </div>
                    </div>
                </div>
              
                </div>
            </div>
              
      </main>

		<%- include("includes/footer") %>

      <script src="/js/checkout.js"></script>
      <script src="/js/script.js"></script>
</body>
</html>