<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Goró</title>
		<link rel="stylesheet" href="./assets/css/index.css" />
		<link rel="stylesheet" href="./assets/css/popUp.css" />
		<script
			src="https://kit.fontawesome.com/8efdacdf0c.js"
			crossorigin="anonymous"
		></script>
		<script src="./script.js"></script>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
		/>
	</head>
	<body>
		<div id="container-pop-up">
			<section class="pop-up">
				<img src="./assets/img/closePopUp.png" onclick="closePopUp()" />
				<h1 class="title-pop-up">VOCÊ TEM IDADE PARA TOMAR GORÓ?</h1>
				<h4 class="text">CONFIRME A SUA IDADE</h4>
				<div class="container-date">
					<span>
						<select name="day" class="day select">
							<option value="01">1</option>
							<option value="02">2</option>
							<option value="03">3</option>
							<option value="04">4</option>
							<option value="05">5</option>
							<option value="06">6</option>
							<option value="07">7</option>
							<option value="08">8</option>
							<option value="09">9</option>
							<option value="10">10</option>
							<option value="11">11</option>
							<option value="12">12</option>
							<option value="13">13</option>
							<option value="14">14</option>
							<option value="15">15</option>
							<option value="16">16</option>
							<option value="17">17</option>
							<option value="18">18</option>
							<option value="19">19</option>
							<option value="20">20</option>
							<option value="21">21</option>
							<option value="22">22</option>
							<option value="23">23</option>
							<option value="24">24</option>
							<option value="25">25</option>
							<option value="26">26</option>
							<option value="27">27</option>
							<option value="28">28</option>
							<option value="29">29</option>
							<option value="30">30</option>
							<option value="31">31</option>
						</select>
					</span>
					<span>
						<select name="month" class="select month">
							<option value="01">JANEIRO</option>
							<option value="02">FEVEREIRO</option>
							<option value="03">MARÇO</option>
							<option value="04">ABRIL</option>
							<option value="05">MAIO</option>
							<option value="06">JUNHO</option>
							<option value="07">JULHO</option>
							<option value="08">AGOSTO</option>
							<option value="09">SETEMBRO</option>
							<option value="10">OUTUBRO</option>
							<option value="11">NOVEMBRO</option>
							<option value="12">DEZEMBRO</option>
						</select>
					</span>
					<span>
						<select name="year" id="year" class="select year">
							<option value="2023">2023</option>
							<option value="2022">2022</option>
							<option value="2021">2021</option>
							<option value="2020">2020</option>
							<option value="2019">2019</option>
							<option value="2018">2018</option>
							<option value="2017">2017</option>
							<option value="2016">2016</option>
							<option value="2015">2015</option>
							<option value="2014">2014</option>
							<option value="2013">2013</option>
							<option value="2012">2012</option>
							<option value="2011">2011</option>
							<option value="2010">2010</option>
							<option value="2009">2009</option>
							<option value="2008">2008</option>
							<option value="2007">2007</option>
							<option value="2006">2006</option>
							<option value="2005">2005</option>
							<option value="2004">2004</option>
							<option value="2003">2003</option>
							<option value="2002">2002</option>
							<option value="2001">2001</option>
							<option value="2000">2000</option>
							<option value="1999">1999</option>
							<option value="1998">1998</option>
							<option value="1997">1997</option>
							<option value="1996">1996</option>
							<option value="1995">1995</option>
							<option value="1994">1994</option>
							<option value="1993">1993</option>
							<option value="1992">1992</option>
							<option value="1991">1991</option>
							<option value="1990">1990</option>
							<option value="1989">1989</option>
							<option value="1988">1988</option>
							<option value="1987">1987</option>
							<option value="1986">1986</option>
							<option value="1985">1985</option>
							<option value="1984">1984</option>
							<option value="1983">1983</option>
							<option value="1982">1982</option>
							<option value="1981">1981</option>
							<option value="1980">1980</option>
							<option value="1979">1979</option>
							<option value="1978">1978</option>
							<option value="1977">1977</option>
							<option value="1976">1976</option>
							<option value="1975">1975</option>
							<option value="1974">1974</option>
							<option value="1973">1973</option>
							<option value="1972">1972</option>
							<option value="1971">1971</option>
							<option value="1970">1970</option>
							<option value="1969">1969</option>
							<option value="1968">1968</option>
							<option value="1967">1967</option>
							<option value="1966">1966</option>
							<option value="1965">1965</option>
							<option value="1964">1964</option>
							<option value="1963">1963</option>
							<option value="1962">1962</option>
							<option value="1961">1961</option>
							<option value="1960">1960</option>
							<option value="1959">1959</option>
							<option value="1958">1958</option>
							<option value="1957">1957</option>
							<option value="1956">1956</option>
							<option value="1955">1955</option>
							<option value="1954">1954</option>
							<option value="1953">1953</option>
							<option value="1952">1952</option>
							<option value="1951">1951</option>
							<option value="1950">1950</option>
							<option value="1949">1949</option>
							<option value="1948">1948</option>
							<option value="1947">1947</option>
							<option value="1946">1946</option>
							<option value="1945">1945</option>
							<option value="1944">1944</option>
							<option value="1943">1943</option>
							<option value="1942">1942</option>
							<option value="1941">1941</option>
							<option value="1940">1940</option>
							<option value="1939">1939</option>
							<option value="1938">1938</option>
							<option value="1937">1937</option>
							<option value="1936">1936</option>
							<option value="1935">1935</option>
							<option value="1934">1934</option>
							<option value="1933">1933</option>
							<option value="1932">1932</option>
							<option value="1931">1931</option>
							<option value="1930">1930</option>
						</select>
					</span>
				</div>
			</section>
			<div class="divider">
				<hr class="amarelo" />
				<hr class="vermelho" />
				<hr class="preto" />
			</div>

			<button id="btn-popup" onclick="checkAge()">VERIFICAR IDADE</button>
		</div>

		<header>
			<nav>
				<ul class="nav-principal">
					<li><a class="nav--link" href="#">INÍCIO</a></li>
					<li>
						<a class="nav--link" href="#info--menu">PORTFÓLIO</a>
					</li>
					<li>
						<img
							alt="logo"
							src="./assets/img/logo.png"
							class="logo"
						/>
					</li>
					<li>
						<a class="nav--link" href="#about">SOBRE NÓS</a>
					</li>
					<li>
						<a
							class="nav--link"
							href="./pages/homeStore/homeStore.html"
							target="_blank"
							>LOJA</a
						>
					</li>
				</ul>
				<ul class="nav-icones">
					<li>
						<a class="nav--link" href="#"
							><i class="fa-brands fa-instagram"></i
						></a>
					</li>
					<li>
						<a class="nav--link" href="#"
							><i class="fa-brands fa-youtube"></i
						></a>
					</li>
					<li>
						<a class="nav--link" href="#"
							><i class="fa-brands fa-facebook"></i
						></a>
					</li>
				</ul>
			</nav>
		</header>

		<section class="carrossel">
			<div class="swiper">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div>
							<img
								src="./assets/img/banner topo 1.png"
								alt="banner"
							/>
						</div>
						<div class="conteudo">
							<p class="conteudo-um">CATEGORIA</p>
							<h2>LOREM IPSUM</h2>
							<p class="conteudo-dois">
								Lorem ipsum dolor sit amet, consectetur<br />
								adipiscing elit.sed ipsum tempor, fermentum<br />
								lorem pellentesque,luctus tortor.
							</p>
							<a href="#">VER CATEGORIA</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div>
							<img
								src="./assets/img/banner topo 1.png"
								alt="banner"
							/>
						</div>
						<div class="conteudo">
							<p class="conteudo-um">CATEGORIA</p>
							<h2>LOREM IPSUM</h2>
							<p class="conteudo-dois">
								Lorem ipsum dolor sit amet, consectetur<br />
								adipiscing elit.sed ipsum tempor, fermentum<br />
								lorem pellentesque,luctus tortor.
							</p>
							<a href="#">VER CATEGORIA</a>
						</div>
					</div>
					<div class="swiper-slide">
						<div>
							<img
								src="./assets/img/banner topo 1.png"
								alt="banner"
							/>
						</div>
						<div class="conteudo">
							<p class="conteudo-um">CATEGORIA</p>
							<h2>LOREM IPSUM</h2>
							<p class="conteudo-dois">
								Lorem ipsum dolor sit amet, consectetur<br />
								adipiscing elit.sed ipsum tempor, fermentum<br />
								lorem pellentesque,luctus tortor.
							</p>
							<a href="../lists/listAcessories/index.html"
								>VER CATEGORIA</a
							>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>

				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
		</section>

		<section id="info--menu">
			<div class="btn--menu">
				<button
					class="btn--info"
					id="title--info1"
					onclick="changeInfo('show--info1')"
				>
					AMERICAN PALE ALE
				</button>
				<button
					class="btn--info"
					id="title--info2"
					onclick="changeInfo('show--info2')"
				>
					DOUBLE IPA
				</button>
				<button
					class="btn--info"
					id="title--info3"
					onclick="changeInfo('show--info3')"
				>
					BROWN ALE
				</button>
			</div>
			<div id="show--info1" hidden>
				<p>
					A cerveja Pale Ale tem um teor alcoólico geralmente entre 4%
					a 6% ABV e um corpo médio, com uma textura suave. Ao provar
					uma Pale Ale, você pode esperar um sabor maltado com notas
					de caramelo e torradas, equilibrado com um amargor moderado
					do lúpulo, que pode ter sabores florais, frutados ou
					terrosos.<br /><br />Essa cerveja é popular entre os amantes
					de cervejas artesanais que procuram uma experiência de sabor
					equilibrada, mas ainda assim com um pouco de amargor. É uma
					cerveja versátil que pode ser apreciada sozinha ou
					emparelhada com uma variedade de alimentos, desde carnes
					grelhadas até pratos picantes.
				</p>
				<img
					alt="info 1"
					src="./assets/img/american pale ale.png"
					class="img--info"
				/>
			</div>
			<div id="show--info2" class="show--info" hidden>
				<p>
					Uma Double IPA (India Pale Ale) é uma cerveja forte e
					intensamente lupulada, com teor alcoólico geralmente
					variando entre 7% a 10% ABV. Essa cerveja é caracterizada
					por um amargor acentuado, que é equilibrado por um perfil de
					malte rico e complexo. <br /><br />
					Essa cerveja é muito popular entre os amantes de cerveja
					artesanal que buscam uma experiência de sabor intensa e
					complexa. Devido à sua alta graduação alcoólica e perfil de
					sabor distintamente amargo, é uma cerveja mais apropriada
					para beber devagar, apreciando cada gole e saboreando suas
					nuances únicas.
				</p>
				<img
					alt="info 2"
					src="./assets/img/double.png"
					class="img--info"
				/>
			</div>
			<div id="show--info3" hidden>
				<p>
					Uma cerveja Brown Ale é um estilo de cerveja que geralmente
					tem uma coloração marrom clara a escura, com um corpo médio
					e um sabor maltado suave. Com teor alcoólico entre 4% e 6%.
					A cerveja tem um sabor maltado característico, com notas de
					caramelo, toffee e chocolate, além de um ligeiro amargor
					proveniente do lúpulo.<br /><br />Essa cerveja é popular
					entre os apreciadores de cerveja artesanal que procuram uma
					experiência de sabor mais suave e menos amarga além de
					textura cremosa.
				</p>
				<img
					alt="info 3"
					src="./assets/img/brown.png"
					class="img--info"
				/>
			</div>
		</section>

		<main>
			<section id="about">
				<h2>SOBRE NÓS</h2>
				<hr />
				<div id="container">
					<div class="coluna">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit. Nunc posuere nisl sit amet erat sodales, ut
							dictum purus posuere. Pellentesque aliquam faucibus
							pharetra. Pellentesque eget efficitur sem.
							Suspendisse ut elit id mauris blandit ultrices. Cras
							ultricies nisi ut luctus aliquam. Nunc semper,
							mauris a lobortis rutrum, tortor velit dapibus quam,
							a scelerisque est tortor ut eros. Duis lectus augue,
							ultrices vel urna pharetra, consectetur aliquet
							tellus.
						</p>
						<p>
							Cras ultricies nisi ut luctus aliquam. Nunc semper,
							mauris a lobortis rutrum, tortor velit dapibus quam,
							a scelerisque est tortor ut eros. Duis lectus augue,
							ultrices vel urna pharetra, consectetur aliquet
							tellus.
						</p>
						<img alt="brindando" src="./assets/img/image 6.png" />
					</div>
					<div class="coluna">
						<img
							alt="dois caras contemplando cerveja"
							src="./assets/img/image 1.png"
						/>
						<p>
							Sed consequat odio at eros viverra, at ultricies
							turpis ullamcorper. Class aptent taciti sociosqu ad
							litora torquent per conubia nostra, per inceptos
							himenaeos.
						</p>
						<button class="btn-geral">
							ENTRAR EM CONTATO COM A GORÓ
						</button>
					</div>
				</div>
			</section>
		</main>

		<hr class="amarelo" />
		<hr class="vermelho" />
		<hr class="preto" />

		<footer>
			<div class="footer__container">
				<div class="footer__logo">
					<img
						class="logo"
						alt="Logo Goró"
						src="./assets/img/logo goro 1.png"
					/>
				</div>

				<div class="footer__inst">
					<ul>
						<h5>INSTITUCIONAL</h5>
						<li>
							<a href="./index.html"> Home </a>
						</li>
						<li>
							<a href="#info--menu"> Portfólio </a>
						</li>
						<li>
							<a href="#"> Contato </a>
						</li>
						<li>
							<a href="#about"> Sobre nós </a>
						</li>
						<li>
							<a href="./pages/homeStore/homeStore.html">
								loja
							</a>
						</li>
					</ul>
				</div>

				<div class="footer__legal">
					<ul>
						<h5>LEGAL</h5>
						<li>
							<a href="#"> Termos de uso </a>
						</li>
						<li>
							<a href="#"> Política de privacidade </a>
						</li>
					</ul>

					<div class="footer__redes">
						<h5>REDES SOCIAIS</h5>
						<ul class="footer__lista">
							<li class="footer__item">
								<a class="footer__link" href="#"
									><img
										class="redes__logo"
										alt="Instagram"
										src="./assets/img/Instagram.png"
								/></a>
							</li>
							<li class="footer__item">
								<a class="footer__link" href="#"
									><img
										class="redes__logo"
										alt="YouTube"
										src="./assets/img/YouTube.png"
								/></a>
							</li>
							<li class="footer__item">
								<a class="footer__link" href="#"
									><img
										class="redes__logo"
										alt="Facebook"
										src="./assets/img/Facebook.png"
								/></a>
							</li>
						</ul>
					</div>
				</div>

				<div class="footer__busca">
					<p>
						Inscreva-se na nossa Newsletter e receba as nossas
						novidades em primeira mão.
					</p>
					<div class="busca__input">
						<input type="text" placeholder="SEU E-MAIL" />
						<button>INSCREVER-SE</button>
					</div>
				</div>
			</div>

			<p>
				© 2022 CERVEJARIA GORÓ LTDA. 00.000.000/0001-00 | Rua dos Bobos,
				0 - Cidade, ES
			</p>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
	</body>
</html>
