<!DOCTYPE html>
<html lang="pt-BR">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Goró Loja</title>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@400;900&display=swap"
			rel="stylesheet"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
		/>
		<link href="/css/reset.css" rel="stylesheet" />
		<link href="/css/banner.css" rel="stylesheet" />
		<link href="/css/categoria.css" rel="stylesheet" />
		<link href="/css/produtos.css" rel="stylesheet" />
		<link href="/css/login-form.css" rel="stylesheet" />
	</head>

	<body>
		<%- include("includes/header") %>

		<section class="form">
			<form class="form__login" method="post" action="/login">
				<h2 class="form__titulo">Faça o seu login</h2>
				<h3 class="form__subtitulo">
					Conecte-se para finalizar a compra
				</h3>
				<input
					placeholder="E-mail"
					name="email"
					autocomplete="username"
					id="email"
				/>
				<input
					type="password"
					name="password"
					placeholder="Senha"
					autocomplete="current-password"
					id="senha"
				/>
				<a href="#" class="esqueci__senha">Esqueci a minha senha</a>
				<span class="form__erro"></span>
				<button type="submit" class="form__button">ENTRAR</button>
				<p>
					Primeira vez por aqui?
					<a href="/signUp" class="">Crie uma conta</a>
				</p>
			</form>
		</section>

		<%- include("includes/footer") %>

		<script src="/js/login.js"></script>
	</body>
</html>
