<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Cadastro de Produtos</title>
		<script src="/js/script.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/style_cad_prod.css" />
	</head>
	<body>

		<h1>Cadastro de Produtos</h1>
		
		<!-- Alterado para receber o MULTER -->

		<form action="/product" method="POST" enctype="multipart/form-data">

			<label for="name">Nome:</label>
			<input type="text" id="name" name="name" /><br />

			<label for="type">Categoria:</label>
			<select id="type" name="type">
				<option value="Cerveja">Cerveja</option>
				<option value="Acessorios">Acessórios</option>
				<option value="Kits">Kits</option>
			</select><br />

			<label for="description">Descrição:</label>
			<textarea id="description" name="description"></textarea><br />

			<label for="price">Preço:</label>
			<input type="number" id="price" name="price" /><br />

			<label for="image">Imagem:</label>
			<input type="file" id="image" name="image" /><br /> 

			<button type="submit">Cadastrar</button>
		</form>

	</body>
</html>
