<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Cadastro de Produtos</title>
		<script src="/js/script.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/style_cad_prod.css" />
	</head>
	<body>
		<%- include('includes/header') -%>
		<h1>Cadastro de Produtos</h1>
		
		<!-- Alterado para receber o MULTER -->
		<form action="/register" method="POST" enctype="multipart/form-data">

			<label for="nome">Nome:</label>
			<input type="text" id="nome" name="nome" /><br />

			<label for="descricao">Descrição:</label>
			<textarea id="descricao" name="descricao"></textarea><br />

			<label for="preco">Preço:</label>
			<input type="number" id="preco" name="preco" /><br />

			<label for="imagem">Imagem:</label>
			<input type="file" id="imagem" name="image" /><br /> 

			<button type="submit">Cadastrar</button>
		</form>

		<%- include('includes/footer') %>
	</body>
</html>
