<link rel="stylesheet" href="/css/header.css" />

<header class="cabecalho">
	<div class="menu">
		<a class="menu__link" href="/store">
			<img class="logo" alt="Logo Goró" src="/img/logo goro 1.svg" />
		</a>
		<ul class="menu__lista">
			<li class="menu__item">
				<a class="menu__linka" href="/cervejas">CERVEJAS</a>
			</li>
			<li class="menu__item">
				<a class="menu__linka" href="/acessories">ACESSÓRIOS</a>
			</li>
			<li class="menu__item">
				<a class="menu__linka" href="/kits">KITS</a>
			</li>
		</ul>
	</div>
	<div>
		<ul class="menu__profile">
			<% if (req.session.isLogged) { %>
			<li class="log">
				<img class="login" alt="login" src="/img/profile.svg" />
				<% if (req.session.username == 'Admin'){ %>
				<a class="login" href="/admin"><%= req.session.username %></a>
				<% } else { %>
				<a class="login" href="/user"><%= req.session.username %></a>
				<%}%>
			</li>

			<% } else { %>

			<li class="log">
				<img class="login" alt="login" src="/img/profile.svg" />
				<a class="login" href="/login">LOGIN</a>
			</li>
			<%}%>

			<li class="car">
				<img class="carrinho" alt="carrinho" src="/img/carrinho.svg" />
				<a class="carrinho" href="/cart">CARRINHO</a>
			</li>
		</ul>
	</div>
</header>
