<header class="cabecalho">
    
    <div class="menu">
       <a class="menu__link" href="../homeStore.ejs">
           <img class="logo" alt="Logo Goró" src="../../../public/img/logo goro 1.svg" >
               </a>
       <ul class="menu__lista">
           <li class="menu__item">
               <a class="menu__linka" href="../listBeer.ejs">CERVEJAS</a>
               </li>
               <li class="menu__item">
               <a class="menu__linka" href="../listAcessories.ejs">ACESSÓRIOS</a>
               </li>
               <li class="menu__item">
               <a class="menu__linka" href="../listKits.ejs">KITS</a>
               </li>
       </ul>
   </div>
           <div>
           <ul class="menu__profile">
                   <li class="log">
                   <img class="login" alt="login" src="../../../public/img/profile.svg">
                   <a class="login" href="../Login.ejs">LOGIN</a>
                   </li>

                   <li class="car">
                   <img class="carrinho" alt="carrinho" src="../../../public/img/carrinho.svg">
                   <a class="carrinho" href="../shoppingCart.ejs">CARRINHO</a>
                   </li>
                   
               </ul>
           </div>
   </header>